html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* maim menu styling */
.menu-area {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(204, 211, 219, 0.2);
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 25px;

}

a {
    margin: 15px;
    color: rgb(255, 251, 251);
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: rgb(0, 0, 0);
}

#title {
    position: relative;
    background-image: url(./Me.JPEG);
    background-image: linear-gradient(rgba(0, 0, 0, 1.1), rgba(254, 248, 248, 0.1)), url(./moment-player.jpeg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

#title .content {
    width: 100%;
}

#title .content h1 {
    font-size: 60px;
    margin: 80px 0px;
    color: rgb(255, 249, 249);
}

#title .content p {
    width: 50%;
    margin-top: 20vw;
    margin: auto;
    line-height: 1.6;
    color: rgb(252, 243, 243);
}

#title .content .wrapping {

    font-size: 18px;
    font-weight: 50;
    color: rgb(255, 255, 255);
    align-items: center;
    flex: 1 1 auto;

    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;

}

#title .content .titlebox {
    /* background-image: linear-gradient(rgba(0, 0, 5, 0.907), rgba(72, 68, 68, 0.1)), url(./sky-3752809_1280.jpg);
    background-color: rgba(204, 211, 219, 0.8); */
    background-color: rgba(204, 211, 219, 0.2);
    /* Adjust the alpha value as needed */
    height: auto;
    background-size: cover;
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;

}



.Main {
    background-color: rgb(147, 61, 61);
    background-image: linear-gradient(rgba(248, 248, 248, 0.7), rgba(171, 171, 169, 0.7)), url(./wp9052032-hd-4k-art-wallpapers.jpg);
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    overflow: scroll;
    border-radius: 10px;
}

#about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: khaki;
    background-image: linear-gradient(rgba(248, 248, 248, 0.7), rgba(171, 171, 169, 0.7)), url(./beach.jpg);

    /* background-image: url(./moment-player.jpeg);
    background-position: center center;
    background-size: cover; */

}

.aboutContent {
    width: 60vw;
    height: 70vh;
    background-color: bisque;
    background-color: rgba(204, 211, 219, 0.2);
    margin-left: 2vw;
    overflow: scroll;
    border-radius: 10px;
}

.aboutContent img {
    max-width: 100%;
    max-height: 100%;
    margin: 10px 0;

}

#about h3 {
    font-size: 25px;
    width: 50%;
    margin-top: 20vw;
    margin: auto;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-align: center;



}

#about h5 {
    font-size: 20px;
    font-weight: 400;
}

.introText .p {
    color: red;
}

#about p {
    font-size: 23px;


}

#about .pics p {
    font-size: 18px;


}

.Child1 p {
    font-size: 18px;
    margin-left: 20px;
}

#about .Child2 p {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 10px;
}

#about .Child3 p {
    font-size: 18px;
    margin-left: 20px;

}



.pics {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;



}

.pic1 {}

.pic2 {}

.pic3 {}

.Pigs {
    width: 2vw;
    height: 45vh;


    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.Child1 {
    background-color: rgba(204, 211, 219, 0.2);
    border-radius: 10px;
    height: auto;


    margin-bottom: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    overflow: scroll;


}

.Child2 {
    background-color: rgba(204, 211, 219, 0.2);
    height: auto;
    margin-bottom: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border-radius: 10px;
    overflow: scroll;
}

.Child3 {
    background-color: rgba(204, 211, 219, 0.2);
    height: auto;
    margin-bottom: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    border-radius: 10px;
    overflow: scroll;



}

.Main2 {
    background-color: rgb(81, 73, 73);
    width: 100vw;
    height: 84vh;
    display: flex;

    align-items: center;
}

#about,
#answer,
#why,
#projects,
#musicClub {
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;


}

.content {
    width: 80%;
    height: 100%;
    padding: 15% 0;
}

.content h1 {
    font-size: 30px;
    text-transform: uppercase;
}

.content p {
    font-size: 24px;
    line-height: 50px;
}

#why {
    background-color: lavender;
    background-image: linear-gradient(rgba(248, 248, 248, 0.7), rgba(171, 171, 169, 0.7)), url(./mountain.jpg);

}

#why p {
    font-size: 20px;
}

#why .content .answer {
    font-size: 30px;
    line-height: 5vh;
    color: rgb(191, 18, 18);
    font-family: 'Times New Roman', Times, serif;

    font-style: italic;
}

#why .content .button-area .btns button {
    background-color: rgba(49, 51, 54, 0.2);


    color: rgb(5, 5, 5);
    border-radius: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 20px 15px;
    font-size: 15px;
    margin-top: 2vh;
    margin-right: 1vh;
}

#why .button-area .btns button:active {
    background-image: linear-gradient(rgba(0, 0, 0, 1.1), rgba(236, 230, 230, 0.1)), url(./EP.JPEG);
}


#projects {
    background-color: darkseagreen;
    background-image: linear-gradient(rgba(248, 248, 248, 0.7), rgba(171, 171, 169, 0.7)), url(./wp7367577-blue-clouds-wallpapers.jpg);
}

.projects .content {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 0;
}




.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
    justify-content: space-evenly;

}



/* table,
th,
td {
    border-collapse: separate;
    border-radius: 20px;
    padding: 20px;


}

table {
    width: 100%;
    border: 30px solid rgb(42, 151, 239);
    border-style: groove;



}

th {
    font-weight: bold;
    border: 3px solid black;
    font-size: 40px;
    background-color: grey;


}

td {
    border: 3px solid black;
    font-size: 10px;

} */


#musicClub {
    background-color: darkseagreen;
    background-image: linear-gradient(rgba(248, 248, 248, 0.7), rgba(171, 171, 169, 0.7)), url(./wp7367577-blue-clouds-wallpapers.jpg);
}


div.tabletitle {

    font-size: 30px;
    text-align: center;
    border-radius: 3px;
    border: 10px solid rgb(76, 152, 229);
    background-image: linear-gradient(rgba(248, 248, 248, 0.7), rgba(171, 171, 169, 0.7)), url(./vinylmatter-main.jpg);
    background-position: center;
    background-size: cover;
    border-style: groove;
    padding: 20px;

}



td {
    border: 3px solid black;
    font-size: 10px;
}

th {
    font-weight: bold;
    border: 3px solid black;
    font-size: 40px;
    background-color: grey;


}

table {
    background-color: rgba(204, 211, 219, 0.2);
    border: 10px solid rgb(5, 5, 5);
    justify-content: center;
    max-width: auto;
    padding: 20px 12px 10px 20px;
    font-weight: bold;
    font-style: italic;
    border-bottom: 10px solid rgb(205, 102, 13);
    margin-bottom: 20px;
    font-size: 30px;
    padding-bottom: 3px;
    box-sizing: border-box;
    align-content: center;

}



#musicTable td {
    font-size: 25px;
}





.btncontainer {
    margin: auto;
    text-align: center;
    justify-content: center;
    size: 30px;
    padding: 25px;



}



.btn {
    margin: auto;
    text-align: center;
    justify-content: center;
    size: 30px;
    font-size: 40px;
    color: lightcoral;
    background-color: lightblue;
    font-weight: bold;

}

.musicTableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    justify-content: center;

}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: brown;
    background-image: linear-gradient(rgba(250, 250, 250, 0.841), rgba(58, 58, 58, 0.7)), url(./sky-3752809_1280.jpg);
    border: 10px solid rgb(233, 159, 63);
    font-style: italic;
    border-bottom: 10px solid #ddd;
    margin-bottom: 0px;
    font-size: 30px;
}



input[type=text] {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 30vw;
    height: 3vh;
}


input[type=submit] {

    text-align: center;
    text-transform: uppercase;
    transition: 0.9s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 300;
    box-shadow: 0px 0px 14px -7px #100f0f;
    background-color: rgba(204, 211, 219, 0.2);
    cursor: pointer;
    justify-content: center;

    touch-action: manipulation;
}

input[type=submit] {
    background-position: right center;
    /* change the direction of the change here */
    color: rgb(47, 37, 37);
    text-decoration: none;
}

input[type=submit] {
    transform: scale(1.5);
    justify-content: center;
}


@media (max-width: 600px) {

    /* adjust the layout here */
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
        margin-bottom: 1rem;
    }

}




@media (max-width: 800px) {
    .logo {
        text-align: center;
    }

    .nav {
        margin: 0;
        padding: 0;
    }

    .nav a {
        font-size: 10px;
        margin: 10px;
    }

    #home .content h1 {
        font-size: 30px;
    }

    #home .content p {
        width: 90%;
        font-size: 16px;
    }

    .content {
        padding: 50% 0;
    }




    #about,

    #why,
    #projects,
    #musicClub {
        flex-direction: column;
        padding: 180px 0;
    }

    #why .content {
        padding: 96px 100px;
    }

    .answer {
        font-size: 30px;
        line-height: 50px;
        color: red;
    }

}